<h3>Hello Form custom twig form</h3>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="row">
  <div class="col-md-6">
        <div class="form-group">
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.accept }}
        </div>
        <div class="form-group">
            {{ form.actions }}
        </div>
  </div>
</div>